# Data directories
renders
checkpoints/
pretrained
finetuned/
yolov8_dataset
backgrounds
ros-arm-test
splats
checkpoints/*/*.pth
checkpoints/*/*.pt
# Test files
*.ipynb
__pycache__
*.log
wandb
*yolo11n.pt


# API keys
secrets.py